h3 {
    color: mediumseagreen;
}

#myApp {
    width: 80%;
    margin: auto;
    border: 2px solid mediumseagreen;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    
    background-color: gray;
}

nav a {
    color: white;
}

nav a:hover {
    color: red;
}