h3 {
    color: seagreen;
}

#contact {
    width: 80%;
    margin: auto;
    border: 2px solid seagreen;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 13px;
}

.contactSelected {
    background: repeating-linear-gradient(
        -55deg,
        gray,
        gray 5px,
        lightgray 5px,
        lightgray 10px
    );
}