h3 {
    color: lightseagreen;
}

#contacts {
    width: 80%;
    margin: auto;
    border: 2px solid lightseagreen;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    background-color: lightgrey;
}

#tableContacts {
    font-size: 13px;
    border: 1px solid lightseagreen;
}

.td-center {
    text-align: center;
    vertical-align: middle;
}