.contact {
    cursor: pointer;
}

.contactSelected {
    background: repeating-linear-gradient(135deg, 
    #000, 
    #0092b7 5%
    ) !important;
}
	    
.contactSelected, .contactSelected h3 {
    color: white !important;   
}

.clicked-name {
    font-style: italic;
}