<div id="contacts">
    
    <h3>Component : contacts</h3>

    <table id="tableContacts" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Contacts</th>
                <th>Details</th>
            </tr>    
        </thead>
        <tbody>
            <tr *ngFor="#contact of contacts">
                <td [ngSwitch]="isSelected && contactSelected.firstname === contact.firstname">
                    <contact-component *ngSwitchWhen="true" [contact]="contact" [isSelected]="true" (contactChanged)="onChange($event)"></contact-component>
                    <contact-component *ngSwitchDefault     [contact]="contact" [isSelected]="false" (contactChanged)="onChange($event)"></contact-component>
                </td> 
                <td>
                    <a (click)="seeDetail(contact)">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
