<div id="contacts" class="style-sheet-class">
    
    <h3>Component : contacts</h3>

    <table id="tableContacts" class="table">
        
        <tbody>
            <tr *ngFor="#contact of contacts">
                <td [ngSwitch]="isContactSelected && contactSelected.firstname === contact.firstname">
                    <contact-component *ngSwitchWhen="true" [contact]="contact" [isSelected]="true" (contactChanged)="onChange($event)"></contact-component>
                    <contact-component *ngSwitchDefault     [contact]="contact" [isSelected]="false" (contactChanged)="onChange($event)"></contact-component>
                </td> 
                <td class="td-center">
                    <button type="button" class="btn btn-info" (click)="seeDetail(contact)">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
